external_url = '{{ gitlab_external_url }}'

# Nginx
nginx['enable'] = true
nginx['redirect_http_to_https'] = true

# LetsEncrypt
# letsencrypt['enable'] = true

# PostgreSQL
postgresql['enable'] = true
postgresql['max_connections'] = 100
postgresql['shared_buffers'] = "256MB"

# Redis
redis['enable'] = true

# Puma (Rails app server)
puma['enable'] = true
puma['worker_processes'] = 2

# Sidekiq (background jobs)
sidekiq['enable'] = true
sidekiq['concurrency'] = 5

# Disable registry (was causing crashing)
gitlab_rails['registry_enabled'] = false
registry['enable'] = false